.result{
  width: 40vw;
  border: 1px solid black;
  height: 10vw;
  background-color:white;
  color:black;
  font-size:4vw;
  border-radius:10px;
  margin-left:30vw;
  text-align:center;
  line-height:10vw;
  overflow:auto;
  cursor:pointer;

  touch-action: manipulation;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@media (orientation:portrait){
  .result{
    width: 98vw;
    margin-left:1vw;
    height:25vw;
    font-size:5vh;
    line-height:25vw;
  }
}